# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Environment Variables
# ==========================
.env
**/.env

# ==========================
# Build Output
# ==========================
dist/
build/

# ==========================
# Logs
# ==========================
*.log
npm-debug.log*

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python
# ==========================
__pycache__/
*.pyc